<h1 style="text-align: center">Image Uploader</h1>

<div style="text-align: center">
  <form [formGroup]="uploadForm"  (ngSubmit)="onSubmit()"> 
    
    <div>
      <input type="text" formControlName="ImageTitle">
     
    </div>

    
    <br>
    <br>

    <input #file type="file" formControlName="images" accept='image/*' (change)="preview(file.files)" />
     <hr>

        <img [src]="imgURL" height="200" *ngIf="imgURL">

    <br>

      <button type="submit">Upload</button>
  </form>
</div>
